body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: linear-gradient(135deg, #0f0f0f, #1e1e1e);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* From Uiverse.io by Praashoo7 */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2em;
  background-color: #171717;
  border-radius: 25px;
  width: 320px;
}
